@import '../../../../scss/var';
@import '~font-awesome/css/font-awesome.css';

.cf-property-bar-h4:hover {
  cursor: pointer;
}

.cf-property-bar-logo {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $white;
  padding: 25px 10px;

  img {
    justify-self: center;
    align-self: center;
    padding: 10px;
    width: 100px;
  }

  h2 {
    justify-self: center;
    align-self: center;
    margin: 0;
    color: $dark-blue;
    font-size: 18px;
  }

  p {
    justify-self: center;
    align-self: center;
    margin: 0;
    color: $dark-blue;
    font-size: 16px;
  }
}
