// Colors

$dark: #011526;
$dark-blue: #234459;
$light-blue: #99B8BF;
$blue: #C1D6D9;
$white: #F1F2F0;

// Fonts

$font1: "Poppins-Medium", sans-serif;
$font2: "Poppins-Regular", sans-serif;
$font3: "Poppins-Light", sans-serif;